body {
  margin:0px;
  background-color:rgba(204, 204, 204, 0.0980392156862745);
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:70px;
  width:320px;
  height:461px;
  overflow:hidden;
  touch-action:none;
}
#u0_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:461px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1 {
  position:absolute;
  left:0px;
  top:10px;
}
#u1_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u1_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2 {
  position:absolute;
  left:270px;
  top:170px;
  width:27px;
  height:15px;
  color:#999999;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:160px;
}
#u4_input {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:160px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u5 {
  position:absolute;
  left:0px;
  top:200px;
  width:320px;
  height:10px;
}
#u5_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u5_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u5_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u6 {
  position:absolute;
  left:9px;
  top:220px;
  width:5px;
  height:15px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:15px;
}
#u7 {
  position:absolute;
  left:2px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:24px;
  top:220px;
  width:52px;
  height:15px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:10px;
  top:260px;
  width:311px;
  height:100px;
  text-align:left;
  line-height:20px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:100px;
}
#u11 {
  position:absolute;
  left:2px;
  top:2px;
  width:307px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:10px;
  top:380px;
  width:311px;
  height:100px;
  text-align:left;
  line-height:20px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:100px;
}
#u13 {
  position:absolute;
  left:2px;
  top:2px;
  width:307px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:10px;
  top:493px;
  width:311px;
  height:100px;
  text-align:left;
  line-height:20px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:100px;
}
#u15 {
  position:absolute;
  left:2px;
  top:2px;
  width:307px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:10px;
  top:613px;
  width:311px;
  height:100px;
  text-align:left;
  line-height:20px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:100px;
}
#u17 {
  position:absolute;
  left:2px;
  top:2px;
  width:307px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:10px;
  top:268px;
  width:15px;
  height:15px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u19 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:10px;
  top:387px;
  width:15px;
  height:15px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u21 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:10px;
  top:499px;
  width:15px;
  height:15px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u23 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:10px;
  top:622px;
  width:15px;
  height:15px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u25 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:70px;
  font-size:16px;
  color:#FFFFFF;
  line-height:28px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:70px;
}
#u27 {
  position:absolute;
  left:2px;
  top:7px;
  width:316px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:13px;
  top:47px;
  width:13px;
  height:10px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u28_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u28_end {
  position:absolute;
  left:-4px;
  top:-5px;
  width:18px;
  height:20px;
}
#u28_line {
  position:absolute;
  left:0px;
  top:4px;
  width:13px;
  height:2px;
}
#u29 {
  position:absolute;
  left:14px;
  top:38px;
  width:13px;
  height:10px;
  -webkit-transform:rotate(135deg);
  -moz-transform:rotate(135deg);
  -ms-transform:rotate(135deg);
  transform:rotate(135deg);
}
#u29_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u29_end {
  position:absolute;
  left:-4px;
  top:-5px;
  width:18px;
  height:20px;
}
#u29_line {
  position:absolute;
  left:0px;
  top:4px;
  width:13px;
  height:2px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:24px;
}
#u32 {
  position:absolute;
  left:2px;
  top:4px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:0px;
  top:300px;
  width:320px;
  height:231px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:231px;
}
#u34 {
  position:absolute;
  left:2px;
  top:108px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:178px;
  top:33px;
  width:20px;
  height:11px;
  font-size:9px;
  color:#FFFFFF;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:11px;
}
#u36 {
  position:absolute;
  left:2px;
  top:0px;
  width:16px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:30px;
  top:41px;
  width:27px;
  height:15px;
  color:#FFFFFF;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:0px;
  top:526px;
}
#u39_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u39_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:10px;
}
#u40_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u40_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u40_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u41 {
  position:absolute;
  left:94px;
  top:10px;
  width:27px;
  height:27px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u42 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:200px;
  top:10px;
  width:25px;
  height:25px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u44 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
