body {
  margin:0px;
  background-color:rgba(204, 204, 204, 0.2);
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:70px;
  width:320px;
  height:269px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:70px;
  font-size:16px;
  color:#FFFFFF;
  line-height:28px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:70px;
}
#u2 {
  position:absolute;
  left:2px;
  top:7px;
  width:316px;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:13px;
  top:47px;
  width:13px;
  height:10px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u3_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u3_end {
  position:absolute;
  left:-4px;
  top:-5px;
  width:18px;
  height:20px;
}
#u3_line {
  position:absolute;
  left:0px;
  top:4px;
  width:13px;
  height:2px;
}
#u4 {
  position:absolute;
  left:14px;
  top:38px;
  width:13px;
  height:10px;
  -webkit-transform:rotate(135deg);
  -moz-transform:rotate(135deg);
  -ms-transform:rotate(135deg);
  transform:rotate(135deg);
}
#u4_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_end {
  position:absolute;
  left:-4px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_line {
  position:absolute;
  left:0px;
  top:4px;
  width:13px;
  height:2px;
}
#u5 {
  position:absolute;
  left:12px;
  top:40px;
  width:48px;
  height:20px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6 {
  position:absolute;
  left:30px;
  top:41px;
  width:27px;
  height:15px;
  color:#FFFFFF;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:24px;
}
#u10 {
  position:absolute;
  left:2px;
  top:4px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:281px;
  top:42px;
  width:27px;
  height:15px;
  color:#FFFFFF;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:88px;
  top:112px;
  width:200px;
  height:25px;
}
#u13_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u14 {
  position:absolute;
  left:88px;
  top:159px;
  width:200px;
  height:25px;
}
#u14_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u15 {
  position:absolute;
  left:88px;
  top:210px;
  width:200px;
  height:25px;
}
#u15_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u16 {
  position:absolute;
  left:10px;
  top:122px;
  width:39px;
  height:15px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:15px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:10px;
  top:164px;
  width:39px;
  height:15px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:15px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:10px;
  top:214px;
  width:52px;
  height:15px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:0px;
  top:339px;
  width:320px;
  height:231px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:231px;
}
#u23 {
  position:absolute;
  left:2px;
  top:108px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
