body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:70px;
  font-size:16px;
  color:#FFFFFF;
  line-height:28px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:70px;
}
#u1 {
  position:absolute;
  left:2px;
  top:7px;
  width:316px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:13px;
  top:47px;
  width:13px;
  height:10px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u2_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_end {
  position:absolute;
  left:-4px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_line {
  position:absolute;
  left:0px;
  top:4px;
  width:13px;
  height:2px;
}
#u3 {
  position:absolute;
  left:14px;
  top:38px;
  width:13px;
  height:10px;
  -webkit-transform:rotate(135deg);
  -moz-transform:rotate(135deg);
  -ms-transform:rotate(135deg);
  transform:rotate(135deg);
}
#u3_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u3_end {
  position:absolute;
  left:-4px;
  top:-5px;
  width:18px;
  height:20px;
}
#u3_line {
  position:absolute;
  left:0px;
  top:4px;
  width:13px;
  height:2px;
}
#u4 {
  position:absolute;
  left:30px;
  top:41px;
  width:27px;
  height:15px;
  color:#FFFFFF;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:24px;
}
#u8 {
  position:absolute;
  left:2px;
  top:4px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:33px;
  top:216px;
  width:260px;
  height:31px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:31px;
}
#u10 {
  position:absolute;
  left:2px;
  top:6px;
  width:256px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:95px;
  top:111px;
  width:198px;
  height:25px;
}
#u11_input {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u12 {
  position:absolute;
  left:38px;
  top:115px;
  width:52px;
  height:15px;
  text-align:right;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:25px;
  top:154px;
  width:65px;
  height:15px;
  text-align:right;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:15px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:95px;
  top:146px;
  width:198px;
  height:25px;
}
#u16_input {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u17 {
  position:absolute;
  left:93px;
  top:130px;
  width:200px;
  height:10px;
}
#u17_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u17_end {
  position:absolute;
  left:183px;
  top:-5px;
  width:18px;
  height:20px;
}
#u17_line {
  position:absolute;
  left:0px;
  top:5px;
  width:200px;
  height:1px;
}
#u18 {
  position:absolute;
  left:94px;
  top:165px;
  width:200px;
  height:10px;
}
#u18_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u18_end {
  position:absolute;
  left:183px;
  top:-5px;
  width:18px;
  height:20px;
}
#u18_line {
  position:absolute;
  left:0px;
  top:5px;
  width:200px;
  height:1px;
}
