body {
  margin:0px;
  background-color:rgba(204, 204, 204, 0.2);
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:70px;
  font-size:16px;
  color:#FFFFFF;
  line-height:28px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:70px;
}
#u1 {
  position:absolute;
  left:2px;
  top:7px;
  width:316px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:13px;
  top:47px;
  width:13px;
  height:10px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u2_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_end {
  position:absolute;
  left:-4px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_line {
  position:absolute;
  left:0px;
  top:4px;
  width:13px;
  height:2px;
}
#u3 {
  position:absolute;
  left:14px;
  top:38px;
  width:13px;
  height:10px;
  -webkit-transform:rotate(135deg);
  -moz-transform:rotate(135deg);
  -ms-transform:rotate(135deg);
  transform:rotate(135deg);
}
#u3_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u3_end {
  position:absolute;
  left:-4px;
  top:-5px;
  width:18px;
  height:20px;
}
#u3_line {
  position:absolute;
  left:0px;
  top:4px;
  width:13px;
  height:2px;
}
#u4 {
  position:absolute;
  left:30px;
  top:41px;
  width:27px;
  height:15px;
  color:#FFFFFF;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:24px;
}
#u8 {
  position:absolute;
  left:2px;
  top:4px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:20px;
  top:105px;
  width:260px;
  height:290px;
  overflow:hidden;
}
#u9_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:290px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u9_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u10 {
  position:absolute;
  left:0px;
  top:68px;
  width:260px;
  height:31px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:31px;
}
#u11 {
  position:absolute;
  left:2px;
  top:6px;
  width:256px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:25px;
}
#u12_input {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u9_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:290px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u9_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13 {
  position:absolute;
  left:0px;
  top:68px;
  width:260px;
  height:31px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:31px;
}
#u14 {
  position:absolute;
  left:2px;
  top:6px;
  width:256px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:25px;
}
#u15_input {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u16 {
  position:absolute;
  left:117px;
  top:32px;
  width:22px;
  height:30px;
  overflow:hidden;
}
#u16_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:30px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u16_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
  color:#66CC99;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u16_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:30px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u16_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:24px;
  color:#66CC99;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:24px;
}
#u20 {
  position:absolute;
  left:0px;
  top:4px;
  width:26px;
  word-wrap:break-word;
}
#u16_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:30px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u16_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:15px;
  color:#66CC99;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:15px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  word-wrap:break-word;
}
#u16_state3 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:30px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u16_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:15px;
  color:#66CC99;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:15px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  word-wrap:break-word;
}
#u16_state4 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:30px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u16_state4_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:15px;
  color:#66CC99;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:15px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  word-wrap:break-word;
}
